@import "tailwindcss";
#list li{
 display: flex;
 position: relative;
 justify-content: space-between;
}
#list li::before{
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("./images/unchecked.png");
    background-position: center;
    background-size: cover;
    top: 6px;
    left: -22px
}
#list li.checked{
    text-decoration: line-through;
    color: orange;
}
#list li.checked::before{
    background-image: url("./images/checked.png");
}
#list li span{
    position:absolute;
    right:0;
    top:0;
    background: transparent;
    color: red;
    width: 20px;
    height: 20px;
    border-radius:50px;
    line-height:15px;
    display:flex;
    justify-content:center;
}
#list li span:hover{
    background: red;
    color: white;
}